
<div class="row">
	<div class="col-sm-5">
		<h3>Event Details<h3>
		<h4>{{eventDetail.title}}</h4>
		<h4>{{eventDetail.description}}</h4>
	<input type="hidden" id="lat" value="{{eventDetail.lat}}" />
	<input type="hidden" id="lng" value="{{eventDetail.lng}}" />
	</div>
	<div class="col-sm-7">
	</div>
</div>

<div id="map" style="height:500px;width:500px"></div>

<script type="text/javascript">
    <script>
		function initMap() {
			var latz = document.getElementById("lat").value;
			var lngz = document.getElementById("lng").value;
			var urulu = {lat: lat, lng: lng};
			var latlng = new google.maps.LatLng(latz, lngz);
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom:15,		
				center: latlng
			});
			var marker = new google.maps.Marker({
				position: latlng,
				map: map
			});
		}	
    </script>
	
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyEwU_KjjurmOf6p1MSa0blyhv7TlWH9c&libraries=places&callback=initMap">
</script>
