
<div class="row-fluid">
	<h1>DASHBOARD</h1>
	<p><a href="/admins/evts/" class="btn btn-info">Events</a></p>
	<p><a href="/admins/eventcategories/" class="btn btn-info">Event Categories</a></p>
	<p><a href="/admins/subscribers/" class="btn btn-info">Subscribers</a></p>
	<p><a href="/admins/hostevents/" class="btn btn-info">Host Event Requests</a></p>
</div>
