

<div class="row-fluid">
<hr>
<hr>
{{#if subscribers}}
	<p>
		<a href="mailto:?bcc=
		{{#each subscribers}}
		{{email}},
		{{/each}}" class="btn btn-success">Email Subscribers</a>
	</p>
	<table class="table">
		<thead>
			<tr><th>Subscribers</th></tr>
		</thead>
		<tbody>
			{{#each subscribers}}
				<tr>
					<td>{{email}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}
</div>
