
<div class="row-fluid">
	<form method='post'>  
<h3>Register</h3>
	<input type="hidden" name="_csrf" value={{csrfToken}} />
	<div class="form-group">
	<input type="text" name="firstName" id="txtFirstName" placeholder="First Name" />
	</div>
	<div class="form-group">
	<input type="text" name="lastName" id="txtLastName" placeholder="Last Name" />
	</div>
	<div class="form-group">
	<input type="text" id="txtEmail" name='email' placeholder="email" required=true></input>
	</div>
	<div class="form-group">
	<input type="password" id="txtPassword" name="password" placeholder="password" required=true></input> 
	</div>
	<div class="form-group">
	<input type="password" id="txtPasswordConfirmation" name='passwordConfirm' placeholder="password confirmation" required=true></input>
	</div>
	<div class="form-group">
	<input type="submit" class="btn btn-primary" id="submit" value='Submit'></input>
	</div>
	</form>
</div>
